@import url('https://fonts.googleapis.com/css2?family=Lato&family=Staatliches&display=swap');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a{
  text-decoration: none;
}

li {
  color: inherit;
  list-style: none;
}

.container__flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
}

.hidden {
  display: none;
}

body {
  background: url('image/fondo\ pokemon\ 1.png');
  background-position: center;
  background-size: contain;
  color: #1C2D61;
  font-size: 18px;
  font-family: 'Lato', sans-serif;
  color: #1C2D61;
}

.header {
  align-items: center;
  background-color: #E9E9E9;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  top: 0;
  position: fixed;
  width: 100%;
  z-index: 5;
}

.header,
.main {
  border-bottom: 3px solid #EA1C27;
  box-shadow: 0px 4px 4px rgba(234, 28, 39, 0.25);
}

.main {
  margin-top: 140px;
}

.header__brand {
  align-items: flex-end;
  color: #1C2D61;
  display: flex;
  font-size: 25px;
  font-family: 'Staatliches', cursive;
  justify-content: flex-start;
}

.header__brand__title {
  margin-left: 10px;
}

.fas.fa-bars {
  color: #1C2D61;
  font-size: 30px;
}

.header__menu {
  background-color: #1C2D61;
  position: fixed;
  right: 0;
  left: 0;
  transition: all ease-in-out 1s;
  text-align: center;
  top: 75px;
  width: 100%;
}

.header__menu__position {
  top: -300px;
}

.header__link {
  align-items: center;
  border-bottom: 1px solid #E9E9E9;
  color: white;
  display: flex;
  font-size: 18px;
  letter-spacing: 1px;
  padding: 20px 10px;
  width: 100%;
}

.header__link.active {
  background-color: red;
}

.fas {
  margin-right: 10px;
}

.section__content {
  margin: 0 auto;
  width: 70%;
}

.card__container {
  background-color: white;
  border: 1px solid black;
  font-size: 18px;
  text-align: center;
  margin: 30px auto;
  box-shadow: 7px 7px 14px -6px rgba(0,0,0,0.75);
}

.card__image {
  display: block;
  margin: 20px auto;
  transition: transform .2s; 
  width: 150px ;
  height: 150px;
}

.card__image:hover {
  transform: scale(1.3);
}

.card__info {
  border-top: 1px solid black ;
  padding: 10px;
  text-align: left;
}

/* NOMBRE */
.button__container {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.button {
  margin: 0px 10px;
  width: 135px;
  height: 40px;
  border-radius: 10px;
  border: 1px solid #1C2D61;
  color: #1C2D61;
  outline: none;
  font-family: 'Staatliches', cursive;
  font-size: 28px;
  cursor: pointer;
}

.section__link {
  text-align: center;
  padding: 30px;
}

.section__link h2 {
  color: #1C2D61;
  font-size: 18px;
  font-weight: bold;
}

.section__link img {
  border-bottom: 3px solid rgba(234, 28, 39, 0.4);
  box-shadow: 0px 17px 15px -9px rgba(234, 28, 39, 0.25);
  width: 200px;
}

footer {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}

footer p {
  font-size: 16px;
}

.footer__copy {
  font-size: 14px;
  padding-top: 15px;
}

.footer__icons {
  align-self: center;
}

.fa-facebook-f{
  color: #4267b2;
  font-size: 38px;
  padding-right: 10px;
}

.fa-youtube {
  color: #ff0000;
  font-size: 38px;
}

.fa-instagram {
  font-size: 38px;
  padding-right: 10px;
}

.hidden {
  display: none;
}

.modal__pokemon__info {
  background-color: white;
  height: 60%;
  margin: 100px auto;
  width: 70%;
}

@media (min-width: 768px) {

  .fas.fa-bars {
  display: none;
  }

  .header__menu {
  display: flex;
  justify-content: space-evenly;
  background-color: #FFCB09;
  border: 2px solid #1C2D61; 
  width: 95%;
  margin: 0 auto;
  }

  .header__menu li {
    width: 80%;
    padding-left: 40px;
  }

  .header__menu__position {
    top: 75px;
  }
  
  .header__link {
    text-align: center;
  color: #1C2D61;
  font-family: 'Staatliches', cursive;
  font-size: 23px;
  letter-spacing: 2px;
  border-right: 2px solid #1C2D61;
  padding: 10px 0px; 
  }
  
  .section__content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 100px ;  
    width: 90%;
  }

  .card__container {
  flex-wrap: wrap;
  width: 40%;
  }

}

@media (min-width: 1025px){
  .card__container {
    flex: 1 1 25%;
  }

  .section__link img {
    width: 300px;
  }

  footer p {
    font-size: 20px;
  }

  .fab {
    font-size: 60px;
    padding-right: 20px;
  }

  .card__container {
    margin: 15px;
    }
  
}

@media (min-width: 1201px){
  .card__container {
    flex: 1 1 20%;
  }
  .section__link img {
    width: 400px;
  }
}